.App {
  text-align: center;
  color: white;
  width: 100vw; /* ビューポートの幅に合わせる */
  height: 100vh; /* ビューポートの高さに合わせる */
  overflow-x: hidden; /* 横スクロールを無効化 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 画像に関するスタイルを追加 */
img {
  max-width: 100%; /* 画像の幅が親要素を超えないようにする */
  height: auto; /* 画像の高さを自動調整 */
  display: block; /* 画像の下に余白ができるのを防ぐ */
  object-fit: contain; /* 画像が親要素に収まるように調整 */
}

/* 必要に応じて画像専用のクラスを追加 */
.responsive-image {
  max-width: 100%; /* 画像の最大幅を親要素の幅に合わせる */
  height: auto; /* 高さを自動調整 */
  display: block; /* ブロック要素として扱い、下に余白を作らない */
  object-fit: contain; /* 画像の比率を保ちながらリサイズ */
}

/* .annotation クラスの修正 */
.annotation {
  border: 2px solid red;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.2);
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none; /* アノテーションのクリックを無効化 */
}

/* annotation-container を追加 */
.annotation-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

.annotation-protected {
  border: 2px solid gray;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* 画像や特定の要素に対してドラッグ操作を無効化 */
#targetElement, img {
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
}

.button {
  touch-action: auto;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%; /* 画像のリサイズに追従 */
  max-width: 720px; /* 必要に応じて画像の最大幅を設定 */
  height: auto; /* 画像の高さは幅に合わせて自動調整 */
}